# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#
c86ctl/import/ddk/*.h
c86ctl/import/ddk/x64/*.lib
c86ctl/import/ddk/ia32/*.lib
c86ctl/prj/vc8/Debug
c86ctl/prj/vc8/Release
c86ctl/prj/vc10/Debug
c86ctl/prj/vc10/Release
c86ctlTest/prj/vc10/Debug
c86ctlTest/prj/vc10/Release
c86ctlTest/Debug
c86ctlTest/Release
c86win/Debug
c86win/Release
Win32
x64
ipch
ipch
*.ncb
*.suo
*.aps
*.user
*.sdf
*.opensdf
*.bak