# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled
x64/
Win32/
ipch/
.git
.vs


#backup file
*~
*.bak
*.tmp

#visual studio
*.user
*.sdf
*.suo

